<p>Bienvenido!!!</p>

<p>Le enviamos este mensaje porque una cuenta de tipo ADMINISTRADOR con su correo electr&oacute;nico ha sido creada en nuestro sitio
    <a href="http://www.retoaprender.com">RetoAprender.com</a><p>

<p>A partir de este momento puede ingresar a nuestro sitio con las siguientes credenciales:</p>
<p>Nombre de Usuario: <b>{{ user.username }}</b></p>
<p>Password: <b>{{ password }}</b></p>

<p>No olvide cambiar su clave de acceso desde la secci&oacute;n
    <a href="http://www.retoaprender.com/user/">"Mi Cuenta"</a>
</p>

<p>Muchas gracias y hasta pronto :)</p>