<p>Estimado(a) usuario(a):</p>

<p>Este es un comunicado para informarle que su password de acceso a nuestro sitio <a href="http://www.retoaprender.com">RetoAprender.com</a> ha sido regenerado por uno de nuestros administradores.<p>

<p>Su password no es conocido por nuestros administradores u otros usuarios.</p>

<p>A partir de este momento puede ingresar a nuestro sitio con las siguientes credenciales:</p>
<p>Nombre de Usuario: <b>{{ user.username }}</b></p>
<p>Password: <b>{{ password }}</b></p>

<p>No olvide cambiar su clave de acceso desde la secci&oacute;n
    <a href="http://www.retoaprender.com/user/">"Mi Cuenta"</a>
</p>

<p>Muchas gracias y hasta pronto :)</p>