{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/about.js') }}"></script>
<script type="text/javascript">
    Tecnotek.module = "about";
</script>
{% endblock %}

{% block content %}
<div class="newsContainer cf">

    <div id="headerTitle">Quienes somos?</div>

    <div style="text-align: center;">
        <div id="origen_idea" class="idea">
            <h1>Origen de la Idea</h1>
            <p>&#9786; Nacimos  de una necesidad, a nivel nacional, para contribuir con la comunidad estudiantil costarricense en el desarrollo de educandos más críticos y comprometidos con sus obligaciones escolares en la construcción de un mejor futuro.</p>

            <p>&#9786; Estamos convencidos de que la mejor manera de aprender es por medio de la tecnología y el juego donde el estudiante disfrute y logre interiorizar los conocimientos adquiridos aplicándolos  correctamente.</p>

            <p>&#9786; Ofrecemos un servicio totalmente PERSONALIZADO e innovador de acuerdo a las exigencias del Ministerio de Educación Pública</p>
        </div>
    </div>

    <div class="clearer"></div>
</div>
{% endblock %}