{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block content %}
<div>
    <h1>{% trans %} reto.aprender.pages.history.title {% endtrans %}</h1>
    <p>{% trans %} reto.aprender.pages.history.text {% endtrans %}</p>

</div>
{% endblock %}