{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block content %}

<script language="JavaScript1.1">
var specifyimage=new Array() //Your images
specifyimage[0]="images/image1.png"
specifyimage[1]="images/image2.png"

var delay=5000 //5 seconds

//Counter for array 
var count =1;

var cubeimage=new Array()
for (i=0;i<specifyimage.length;i++){
cubeimage[i]=new Image()
cubeimage[i].src=specifyimage[i]
}

function movecube(){
if (window.createPopup)
cube.filters[0].apply()
document.images.cube.src=cubeimage[count].src;
if (window.createPopup)
cube.filters[0].play()
count++;
if (count==cubeimage.length)
count=0;
setTimeout("movecube()",delay)
}

window.onload=new Function("setTimeout('movecube()',delay)")
</script>

<div class="imageContainer">
    <img src="images/image1.png" name="cube"  border=0 style="filter:progid:DXImageTransform.Microsoft.Stretch(stretchStyle='PUSH')">
</div><!--End imageContainer
<!--<div class="imageContainer">
    <img src="{{ asset('images/image1.png')}}" />
</div>--><!--End imageContainer-->

<div class="newsContainer cf">
    <div class="news bgRed">
        <h2><A HREF="http://retoaprender.com/about/">Quienes Somos</A></h2>
        <p>Materiales Personalizados para facilitar el aprendizaje.</p>
        <img src="{{ asset('images/image2.jpg')}}" alt="" />
    </div>
    <div class="news bgGreen">
        <h2><A HREF="http://retoaprender.com/about/idea">¿Qué buscamos?</A></h2>
        <p>¿Quién ha dicho que educar a los hijos para la autorrealización y éxito  es una labor fácil? Por el contrario, para poder brindarles a nuestros descendientes un futuro más prometedor  hay que dotarlos de variadas y continuas experiencias de vida donde puedan actuar, dar su opinión libremente y asumir consecuencias de lo realizado.  Gracias a  ellas, tarde o temprano, encontrarán las herramientas para poder realizarse como personas  y lograr las metas que se propongan ser.
        </p>
        <p>
            Como padres y maestros, nos queda la satisfacción de  saber  que hicimos nuestro mejor esfuerzo por  moldear día con día a un individuo integro e independiente capaz de luchar por sus ideales y convicciones siempre  respetando y conociendo  su realidad y la de los demás.
        </p>

    </div>
    <div class="news bgYellow lastNews">
        <h2><A HREF="http://retoaprender.com/about/">Valores</A></h2>
        <p>El respeto es el reconocimiento del valor propio y de los derechos y las obligaciones  de los individuos y de la sociedad para que puedan vivir en paz y en sana convivencia.
            El respeto se aprende principalmente en la casa con el ejemplo.</p>
             
        <p>  “No hagas a los demás lo que no quieres que te hagan a ti”.</p>
        <!--<img src="{{ asset('images/image2.jpg')}}" alt="" /> -->
    </div>
</div>
{% endblock %}