{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/about.js') }}"></script>
<script type="text/javascript">
    Tecnotek.module = "about";
</script>
{% endblock %}

{% block content %}
<div class="newsContainer cf">

    <div id="headerTitle">Nuestra Misi&oacute;n y Visi&oacute;n</div>

    <div style="text-align: center;">
        <div id="valores" class="idea">
            <img src="{{ asset('images/mivi.png') }}" alt="Mision Vision" style="width: 90%; padding-top: 50px;">
        </div>
    </div>

    <div class="clearer"></div>
</div>
{% endblock %}