{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block extrajs %}
<script type="text/javascript" src="{{ asset('js/about.js') }}"></script>
<script type="text/javascript">
    Tecnotek.module = "about";
</script>
{% endblock %}

{% block content %}
<div class="newsContainer cf">

    <div id="headerTitle">Nuestra Misi&oacute;n y Visi&oacute;n</div>

    <div style="text-align: center;">
        <div id="mission_vision" class="idea">
            <div class="title-box vision rounded-corners">Visi&oacute;n</div>
            <div>
                <div class="text_box text-vision">
                    Somos una empresa que brinda herramientas innovadoras para construir un aprendizaje significativo a trav&eacute;s de la tecnolog&iacute;a.

                </div>
                <span class="arrow arrow-vision"></span>
            </div>

            <div class="title-box mission rounded-corners">Misi&oacute;n</div>
            <div>
                <div class="text_box text-mission">
                    Confeccionar material educativo de alta calidad que permita a los estdiantes interiorizar los temas b&aacute;sicos de cada nivel utilizando tecnolog&iacute;a de punta.
                </div>
                <span class="arrow arrow-mission"></span>
            </div>

        </div>
    </div>


    <div class="clearer"></div>
</div>
{% endblock %}