{% extends 'RetoAprenderBundle::layout.html.twig' %}

{% block content %}

{% for new in news %}
<div class="mainContainer" style="margin-top: 15px;">
    <h1>{{ new.title }}</h1>

    <div class="child cf">
        {{ new.content|raw }}
    </div>

    <div class="right" style="font: normal 13px arial,sans-serif; color: #222; vertical-align: middle; line-height: 30px; padding-right: 5px;">
        Por <b>{{ new.user.username }}</b> el <b>{{ new.date|date("d/m/Y h:i:s")}}</b>
    </div>

    <div class="clearer"></div>
</div>
{% endfor %}

{% endblock %}