{% extends 'RetoAprenderBundle:admin:layout.html.twig' %}

{% block content %}
<div id="center-column">
    <div class="top-bar">
        <h1>Panel de Administraci&oacute;n</h1>
    </div><br />
    <div class="select-bar">
        <label>
            <input type="text" name="textfield" />
        </label>
        <label>
            <input type="submit" name="Submit" value="Search" />
        </label>
    </div>
</div>
{% endblock %}

{% block info %}
Este m&oacute;dulo permite la administraci&oacute;n de los recursos, usuarios y otros.
{% endblock %}